<div class="page_content userpage" id="secen_at_html" style="" >
    <ul class="mui-table-view" name='list'>

    </ul>
    <!--<div class="mui-btn mui-btn-success mui-btn-block" name='btrefresh'>刷新在场记录</div>-->
    <div class="template">
        <ul>
            <li class="mui-table-view-cell" name='row'>
                <div class="title">
                    <span name='cardid'></span>
                    <a class="mui-btn mui-btn-success" name='btaction' style="padding: 0 4px;">联系车主</a>
                </div>
                <p><label>下单时间:</label><span name='time'>10:45</span></p>
                <p><span class="tips-box tips-red" name="alertinfo"></span></p>
                <div style="float:left;margin-top:5px;">
                    <div class="mui-btn mui-btn-success" name='btoutaction' style="margin-right:10px;">确认离场</div>
                </div>
            </li>
            <li class="mui-table-view-cell" name='row_none'>
                <h3><p>当前没有在场记录.</p></h3>
            </li>
        </ul>
    </div>
</div>